
@*@{
   @ViewBag.Title = "Index";
}

<h2>Index</h2>

@model DotNet.Highcharts.Highcharts

<p> My Chart </p>
@(Model)*@

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Basic Line";
}
@(Model)